@{
    Layout = null;
}
<label id="teacherId">استاد :</label>
<select id="teacherId" name="teacherId" class="form-control form-select" asp-items="ViewBag.TeacherId">
     <option disabled selected >--انتخاب استاد--</option>
</select>   