 
<div class="modal" id="loaderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"> 
            <div class="modal-body text-center">
                <div class="loader text-center mr-40p"></div>
                <br/>
                <h5>
                    در حال پردازش ...
                </h5>
                        
            </div>
        </div>
    </div>
</div>